[2013-06-26 14:51] phortx opened #6 "wrong ELF class: ELFCLASS32 (RVM + 64Bit Linux)"
[code]

Does someone have an idea how to solve that?

[2013-06-29 14:36] #6 closed, assigned to nobody

[2013-06-30 20:36] rogerbraun opened #7 "Running the current develop branch on wheezy from raspberrypi.org does fail with ffi error"
I tried running the current develop branch on my Pi (I need the resistor pull-up). This does not work, it fails loading libbcm2835.img with the message: 'only ET_DYN and ET_EXEC can be loaded'. Reverting libbcm2835.img to the previous version makes everything run again.

Thanks for the great gem! It's really useful! If you need more information, please ask.

[2013-08-26 03:43] #7 closed, assigned to nobody

[2013-09-12 01:18] bf4 opened #9 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

    spec.license = 'MIT'
    # or
    spec.licenses = ['MIT', 'GPL-2']

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine,

[2013-09-13 04:48] deadprogram opened #10 "Need I2C#read method please"
Please add I2C#read method to https://github.com/jwhitehorn/pi_piper/blob/develop/lib/pi_piper/i2c.rb and thank you!

[2013-09-13 06:29] deadprogram opened #11 "Software or hardware PWM output"
It would be really great to be able to support hardware or software PWM...

[2013-10-02 12:22] johncox00 opened #12 "GPIO Permission Error"
Getting a Permission denied - /sys/class/gpio/gpio18/direction when executing...PiPiper::Pin.new :pin => 18, :direction => :out. Many different attempts at changing permissions on various directories. No joy.

[2013-10-02 17:46] #12 closed, assigned to nobody

[2013-10-04 16:31] Sparkboxx opened #13 "BeagleBone Support"
I'm going to take a look to see if I can get PiPiper to cooperate with the BeagleBoneBlack. Do you have any suggestions or prior experience (good/ bad) or do you know of big gotcha's?

[2013-12-15 01:10] prussiap opened #16 "using pullups and action on change?"
Hi guys,
This project is fantastic. I was trying to just use the GPIO17 on my raspberry pi with the built in pull-up and a button plugged into ground. I wanted this to work on 6 buttons as interrupts (change lcd values on button press)..

The problem is my values are erratic aka they change with no button push. I don't know if my wiring of the button is wrong or the simple test code. I wrote somet

[2014-01-11 20:20] #16 closed, assigned to nobody

[2014-01-20 20:55] JumpMaster opened #18 "UART Support"
Would you be able to implement UART support?

Using Pi_Piper I've used all other pins and need to communicate with an Ardinuo. Thanks for a great Gem!

[2014-02-19 07:06] semdinsp opened #19 "GPIO Initialization"
I am struggling with successfully initializing button management code.   I do something as follows:
def manage_buttons

[code]

If I run the following python code the pi_piper gem works as I expect in above.  (If I don't run this code below, the system gives me bouncing on the button). So currently I call a python script to do the following upon boot.
GPIO.setmode(GPIO.BCM)
GPIO.setup(ledPin, GPIO

[2014-02-22 17:52] jeena opened #20 "Which is the :pin number?"
I had quite some trouble in figuring out that the `:pin` number actually is the GPIO number, not the physical pin number (and not either the wiringPi number).

So if I want to write to the physical pin number 12 I need to write `PiPiper::Pin.new(:pin => 18, :direction => :out)`.

Would it be possible to add this information somewhere obvious to the documentation?

[2014-04-05 01:10] ghost opened #22 "Event every x number of time?"
Would it be possible to add a feature so we can enter an event loop and beforehand setup functions that would run every x milliseconds? This way we can concurrently check for different sensors. I know I could do this with event machine but it seems that would defeat the purpose of this library if its supposed to be event driven.

[2014-05-23 16:46] JSchaenzle opened #23 "Gemspec missing file pin_values.rb"
The gemspec file is missing pin_values.rb which causes an error when you try to `require 'pi_piper'`. I was really confused why your spec tests were passing at first. Looks like it's because Travis just pulls down the repo and runs the tests and doesn't use the gemspec file at all I think. I have never set up Travis before but I bet there is a way to get it to use your gemspec file. I would recomm

[2014-07-16 09:26] foffer opened #24 ".value always returns 0 in console"
In Ruby 2.1.2 on the Raspberry Pi B model using the Pry console (tested in IRB as well)
Doing this: `pin = PiPiper::Pin.new(:pin => 18, :direction => :out)` correctly initialises the pin. `pin.on / .off` works correctly. But when calling `pin.value` it always returns 0. I've tried it using the `update_value` method instead of the on / off method, but the `.value` return is the same.

`[3] pry(main

[2014-07-25 16:34] noniq opened #25 "Odroid U3: edge file needs to be reset on start"
I’m using this awesome gem for a project with an Odroid U3. The relevant lines from the [script](https://github.com/die-antwort/da-klingel/blob/c840e92c86d5e955fda2486ea2d0f022945d1136/da-klingel.rb#L15) are simply:

[code]

Everything works fine when I the script is started for the first time. However, if the script is stopped (Ctrl-C) and then started again, the block is no longer called even if

[2014-08-22 11:51] ingobecker opened #26 "SPI partly broken in gems"
PiPiper::Spi::set_mode is broken in stable as well as in pre versions because PiPiper::Spi::SPI_MODE\* constants are missing..

[2014-10-26 15:13] kritik opened #27 "Analog pin reader"
Is it possible to read analog signals osing only GPIO?

[2014-10-27 16:04] #27 closed, assigned to nobody

[2014-10-28 17:40] raldred opened #28 "No such file or directory - /sys/class/gpio/gpio4/direction"
Hey,
Sorry If this is noob issue, I couldn't see anything in the README.
I've Got a tiny script which loops and prints the output of a pin.

    pin = PiPiper::Pin.new(pin: 4, direction: :in, pull: :up)
    puts pin.read

I get the following error upon running the script.

    $ sudo ruby read_sensor.rb
    /var/lib/gems/1.9.1/gems/pi_piper-1.3.2/lib/pi_piper/pin.rb:24:in `initialize': No such fil

[2014-11-06 06:03] robert2d opened #30 "Trouble with Device or resource busy"
Hi I am unable to get the pins to work on the latest version of noobs.

Running
`File.open("/sys/class/gpio/export", "w") { |f| f.write("7") }`

Error
`Errno::EBUSY: Device or resource busy @ fptr_finalize - /sys/class/gpio/export`

Using: https://github.com/robert2d/raspberry-pi-gpio-rails4-control

I have manually run the command via a rails console using `rvmsudo bundle exec rails c`. I have ch

[2015-01-29 11:29] github0013 commented on #30
https://github.com/jwhitehorn/pi_piper/pull/31
This should fix. What do you guys think?

[2015-01-29 15:20] ClockVapor commented on #30
@github0013 Looks good, but wouldn't it be better if `Pin.release` was private? You could get into trouble holding onto a Pin object that's been released, I imagine.

[2015-01-29 15:47] wrzasa commented on #30
If its private you cannot reliably release a pin. If you loose reference to a pin object you have this pin locked until GC removes the object. Am i right?

[2015-01-29 15:57] ClockVapor commented on #30
Yeah, but there shouldn't be any reason to release a pin that's sensitive to how quickly the GC releases it. Or should there? Maybe I'm just nitpicking.

[2015-01-29 16:03] ClockVapor commented on #30
Nevermind, you're right. There could be multiple programs trading off using the pins. Carry on, ignore me. :stuck_out_tongue:

[2015-01-29 16:34] github0013 commented on #30
I think there aren't many cases you would use a pin for IN and OUT as your program go.   So basically, you won't manually have to release any pins although it is a public method.

Once you set up a pin, you would use it as it is until the program ends.  And normally you will be holding the pin object until your program ends (otherwise you can't control the pin).   Since you hold on to it, `GC` won

[2015-01-29 18:58] wrzasa commented on #30
I agree. Have only one doubt. Are you sure, that the finalizer will always be called? As I remember, in Java descructor was called only if an object was destroyed by GC, but not when it was destroyed when virtual machine was being shut down. Consequently, it might happen that descrutcor was never called and it was documented. Ruby docs say nothing about it. That leaves my with doubts rather then c

[2015-01-29 19:17] ClockVapor commented on #30
[I wrote a test to see for myself](https://gist.github.com/ClockVapor/2ef73a75c6d0b7fc5f98). Seems to consistently clean everything up before exiting the program, but I don't know if anything could affect that.

[2015-01-29 19:34] wrzasa commented on #30
Hard to tell, if doc says nothing...

[2015-01-30 01:01] github0013 commented on #30
JA
http://docs.ruby-lang.org/ja/1.9.3/method/ObjectSpace/m/define_finalizer.html
EN
http://ruby-doc.org/core-1.9.3/ObjectSpace.html#method-c-define_finalizer

EN doc doesn't really say much about `define_finalizer` whereas JA has more.
translated:
https://translate.google.co.jp/translate?sl=ja&tl=en&js=y&prev=_t&hl=ja&ie=UTF-8&u=http%3A%2F%2Fdocs.ruby-lang.org%2Fja%2F1.9.3%2Fmethod%2FObjectSpace%2

[2015-02-02 04:28] github0013 commented on #30
https://github.com/jwhitehorn/pi_piper/pull/32
I found `at_exit` in platform.rb.

If you use Gemfile to require this branch by `--path`, and you cron a job, make sure that you add `bundle exec ruby ...` in your command.

ex:

yoru_ruby_file.rb
[code]

crontab
[code]

[2015-02-02 08:08] wrzasa commented on #30
translated:

So far for English as discussion language about Ruby...

Thanks for finding this page. It doesn't ensure that finalizer will be called, but giving `tempfile` as example using it reliably is quite convincing for me. Certainly sufficient for the case of pi_piper pins.

[2015-03-23 06:11] slacker87 commented on #10
Is this happening? I'd love to see i2c for this!

[2015-04-10 08:09] v0dro opened #33 "Increase EventMachine dependency version to 1.0.7"
I'm facing some problems with building EventMachine 1.0.3 native extensions (a possible fix is given [here](http://stackoverflow.com/questions/17361958/eventmachine-gem-install-fail).

Increasing the version to 1.0.7 (latest) fixes the issue.

[2015-04-10 08:14] v0dro commented on #33
And I think this issue arises only on ruby 2.2.0

[2015-04-10 12:55] jwhitehorn commented on #33
My schedule doesn't give me enough time to really work on this project at the moment, but I'd gladly accept a pull request.

[2015-04-10 17:32] v0dro commented on #33
Sure thing!

Also could you tell me if there is anything specific that I should keep in mind during testing?

[2015-04-14 09:39] v0dro commented on #20
I'll take up this issue and come up with an API suggestion in a while. Please assign me to this.

[2015-04-15 07:57] v0dro commented on #23
I have fixed this in #34

[2015-04-19 06:27] v0dro opened #36 "Tests using actual devices"
I'm personally quite skeptical of using stub drivers for testing, it might not capture real device behaviour and things might go wrong in future releases.

To amend this, how about having a set of tests that will run only if the test suite is being run on a raspberry pi and will actually test the underlying hardware? These tests can be exactly the same as the current ones, only using real device d

[2015-04-20 15:15] #23 closed

[2015-04-20 20:28] bguest commented on #36
What you are talking about is integration or full stacks tests, which are very very different than the unit tests that currently exist. I'd be very wary or leveraging an entire testing framework on integration tests as they tend to be very slow and very brittle and will fail even when your code is perfectly fine. Unit tests test your code to make sure it is working how you intended with your assum

[2015-04-22 11:07] C0de-M0nkey opened #37 "non-root access"
Hi,

non-root access to the dev and sysfs devices seems to be a recurring issue going by the many threads all over the internet, but is there any change on the pi_piper front ? Or is there anyway to proxy access via a root daemon ?
I appreciate this question was answered a couple of years ago, just wondering if anything has changed since then.

Thanks

CM

[2015-04-29 14:04] agarie commented on #36
I agree with @bguest -- I had to maintain a medium-sized suite of integration tests at my last job and it was... well, troublesome. However, having *some* integration tests is definitely better than nothing.

[2015-04-30 16:02] v0dro commented on #36
I think a compromise can be reached between maintaining integration tests and leaving testing to a purely simulated environment (in this case the driver).

Something with which the actual working of the BCM 2385 driver with the processor pins will be tested.

[2015-05-03 13:40] elmatou commented on #28
PiPiper is not intended to read 1-wire bus, but only raw GPIO state. I'm working on a ruby implementation of 1-wire, I'll keep you up to date.

[2015-05-03 14:34] raldred commented on #28
Ahh, I see, I didn't realise. Please do :) Thanks

[2015-05-03 14:34] #28 closed

[2015-05-03 18:11] elmatou opened #38 "Pin#off? & Pin#on? not working as expected."
EDIT : I understood, this behaviour is by design, but it do not seem very "natural" to me.

[code]
even if `r` is realy on a high level.

[code]
use the cached value of the pin (why a cached value ?!) which is not updated after #on or #off

[code]
is a way to fix the issue

[2015-05-05 12:37] elmatou commented on #11
Hi,
I get it working through Bcm2835 C libray.
checkout : https://github.com/elmatou/pi_piper (4&5 May commits).
Code is not very neat for now, i'll PR later (would be easier if the master was up to date (Including "at_exit" issue and/or us of bcm_function)).

[2015-05-05 12:48] elmatou commented on #37
PiPiper make use of gpio kernel wich use /sys/class/gpio hierachy which is owned by root...
bcm2835_functions branch make use of /dev/mem memory access which also need to be root...

As a workaround, I'm looking at two scenarii :
1 - run ruby app with sudo, fork a proc as root, and descalate permission on main thread.
2 - run as root a ruby daemon with DRb server and run a non-privileged processus

[2015-05-05 13:41] elmatou opened #39 "Update libbcm2835.img"
We can see at http://www.airspayce.com/mikem/bcm2835/ the librairy is quite often updated, even more now with Rpi2 support.

I was willing to update the image embeded in the gem but I'm not able to build the correct image, I'm stuck with the library libbcm2835.a

What is the correct procedure ? would it possible to build a rake task on it (I can do it and send a PR) ?

thx for the help.

[2015-05-05 13:42] elmatou commented on #33
Same here, happend only with ruby 2.2.x . Eventmachine 1.0.4 (a later) fix this.

[2015-05-07 22:11] canedy opened #40 "Running pi_piper in Rails"
Looking for some advise or if anyone has been able to get a basic blinking light scenario website up and running using pi_piper. I'm starting as simple and basic as I can. Created a rails app and in my controller added same ruby code (that works when ran as ruby). Was expecting page I navigated to see lights blink, nothing fancy yet just wanted the code to execute. But i received a Permission deni

[2015-05-08 08:04] elmatou commented on #40
Hi,
PiPiper needs root permission to work, it access to /dev/mem (via a kernel module or directly wih the C library) which need root permission.

As it is not advised to run a webserver as root, I will recommend you to escalate permissions only for a PiPiper dedicated process, there is an issue about it, but nothing as been properly written as of now.

If you make any progress on this front keep u

[2015-05-08 22:39] bguest commented on #40
This is a site I wrote to do LED stuff: https://github.com/bguest/blinky... basically you need to deploy to root.

[2015-05-19 13:20] C0de-M0nkey commented on #37
Hi Elmatou,
Thank you for your response. This more or less confirmed my thoughts. It seems like a root daemon would be the strategic solution in the long term. Anything else would seem to require reinventing the wheel for each project.

Thanks again.

CM

[2015-05-23 15:26] rubyon opened #41 "Can I watch my pin change with streaming?"
watch :pin => 21 do

end

It seems to be "event type"

example)

1
0
1
0

but I want to use "streaming type"

like this...

1
1
1
1
1
0
0
1
1
1
1
1

can you help me?

[2015-05-24 16:21] elmatou commented on #41
Hi rubyon,
as it seems to be a bit resource heavy, you can achieve this by looping with a file.read. You should take inspiration in Platform#pin_wait_trigger
[code]

but you will get a new bit (or byte) sychroneously with the internal clock (a few MHz)

[2015-05-25 00:00] sean2121 opened #42 "SPI doesn't work on my RPi2"
Hi,

This code doesn't work on my BCM2836 but it works my old BCM2835. Is there any plan to update? or any advice?
[code]

[2015-05-27 02:31] sean2121 commented on #39
Hi,

Jury-rigged solution to use pi_piper on my Pi2.
Instead of update libbcm2835.img, I've installed the newest bcm2835 and use a libbcm2835.so

Sean.

[2015-05-27 03:04] sean2121 commented on #39
oops.

I didn't know that libbcm2835 has already updated in pi_piper-2.0.beta.11

[2015-05-27 03:08] #42 closed

[2015-05-29 06:08] elmatou commented on #39
Sorry I'm not very familiar with C compilation and type of library.
If I understand well .so stands for shared object, meaning dynamicly linked library, as .a stand for static library. currently the Makefile of libbcm2825 create only a static library (.a file).
@sean2121, What is the process to build .so file.
@jwhitehorn, what is the image file embedded in the gem ?

[2015-06-12 03:33] joecabezas commented on #30
How can I make this to work using RVM?, everytime I load a ruby script with pi_piper says:
bcm2835_init: Unable to open /dev/mem: Permission denied

[2015-06-12 05:27] wrzasa commented on #30
run as root... I know it is lame but bcm2835 won't work without root privileges...  and worse -- `/sys` interface to GPIO does not require root privileges, but bcm2835 is wiser and so it requires root... lame...

[2015-06-13 08:58] joecabezas opened #43 "how to call a method from inside PiPiper.after?"
This looks more like a ruby question, but it is related to pi_piper. I have this code:

    require 'pi_piper'

    class Foo

        def initialize
                PiPiper.after ({pin: 7, goes: :high}) do
                        bar
                end
        end

        def bar
                puts "hello"
        end
    end

    a = Foo.new

    PiPiper.wait

but when I turn on the pin (wit

[2015-06-13 09:32] elmatou commented on #43
When calling `PiPiper.after` (or `wait` by th way) without argument, it call block in the scope of the `PiPiper::Pin` instance, where `bar` is not defined.
try with an argument (which will be the pin instance):
[code]

[2015-06-13 09:46] joecabezas commented on #43
thank you for quick answer, I really appreciated, that made the trick :)

Can you tell me some keywords to google this problem and study more abut this?

I was looking for: "ruby blocks", "ruby instance_exec", "ruby calling method inside block"

but nothing useful, thanks in advance!

[2015-06-13 09:50] joecabezas opened #44 "PWM? how to make a buzzer sound?"
Hello, I want to make a piezo buzzer sound, there is a way to do this?, is pi_piper able to pwm?, thanks

[2015-06-13 17:51] elmatou commented on #44
not the released gem, nor the develop branch. But their is two forks with this implementation :
* mine using only the bcm library : https://github.com/elmatou/pi_piper
* another relying on piblaster, a binary allowing PWM software or hardware

[2015-06-15 21:18] joecabezas commented on #44
thanks, how to install your library?

[2015-06-17 07:31] elmatou commented on #44
not particularly a pi_piper question, use bundler ?

gem 'nokogiri', :git => 'https://github.com/tenderlove/nokogiri.git'

just change je the gem name and the github url.

On Mon, Jun 15, 2015 at 11:18 PM, Joe <notifications@github.com> wrote:

[2015-06-23 02:32] canedy commented on #40
So after much trial and error I end up installing everything as root. I could not get rails to write to GPIO pins with out installing ruby, rails, pi piper all as root. It works, but there has to be a better way other than installing as root.

[2015-06-23 02:32] #40 closed

[2015-06-25 23:10] glebe commented on #38
it says in doc (http://www.rubydoc.info/github/jwhitehorn/pi_piper/PiPiper%2FPin%3Aread) that you should first call "read" to have actual state for "off?", value etc

would be good to update read me with some examples on that subject though

[2015-08-22 14:06] #38 closed

[2015-09-02 16:14] #18 closed

[2015-10-10 02:52] joshkinabrew commented on #30
@joecabezas Try using `rvmsudo`

i.e. `rvmsudo ruby ./my_script.rb`

[2015-12-11 06:05] galori opened #45 "/home/pi/.rvm/gems/ruby-2.2.1/gems/pi_piper-1.3.2/lib/pi_piper/pin.rb:23:in `close': Device or resource busy @ fptr_finalize - /sys/class/gpio/export (Errno::EBUSY)"
Trying to use pi_piper to read a button connected to pin 18 and getting this error:

[code]

This is my code:
[code]

I'm running it like this:
[code]

Conversely running this program in python works just fine (and outputs "Button Pressed" correctly only when I press the button)

[code]

Any advice? Anything I can try?

[2015-12-22 15:38] jvlobo commented on #45
I'm having the same issue @galori

Did you be able to solve it??

Thanks.

[2016-01-10 03:29] bmedici commented on #45
Same here... would be nice to know what it means !

[2016-01-10 09:08] elmatou commented on #45
Hi @galori,
the error
`Device or resource busy @ fptr_finalize - /sys/class/gpio/export (Errno::EBUSY)`
means that the pin is already in use.
Reading your code we can see you are the first user.
`PiPiper::Pin.new(:pin => 18...` reserves (exports) the pin 18 for your usage with the `pin` variable you create.
the `PiPiper.watch` method is a shortcut for `pin = PiPiper::Pin.new()` && `pin.wait_for_ch

[2016-01-13 17:02] ahendricks commented on #45
PiPiper doesn't release (unexport) the pins for me at the end of my programs.

To release the pin at the end of the script I do this, where 18 is the pin number:
`File.open("/sys/class/gpio/unexport","w") { |f| f.write(18) }`

[2016-01-20 08:08] colinl commented on #45
Would it be safe to use
File.open("/sys/class/gpio/unexport","w") { |f| f.write(pin_number) }
in my code before I use pin.new in order to protect against the problem of a pin not being released on a crash?

[2016-01-20 09:00] elmatou commented on #45
It could be safe inside your thread. but what if the pin is already in use
in another program or thread ? it would loose controle of the pin.

El Matou

On Wed, Jan 20, 2016 at 9:08 AM, Colin Law <notifications@github.com> wrote:

[2016-01-20 09:37] colinl commented on #45
A good point elmatou, though if I have two processes or threads both trying to control a relay in my home automation system then I am in big trouble.  Is there any good way round the problem in general?  Ideally the pins should be released automatically if a process crashes, in the same way as happens with system resources (RAM etc), but I do not know whether that is possible.

[2016-01-20 10:13] elmatou commented on #45
that's why I'm trying to use the bcm2835 C library for gpio (pi_piper uses
it for SPI and so...)
It don't need any export/unexport procedure and work pretty well...

Except for the event-driven side. still working on it :
https://github.com/elmatou/pi_piper

El Matou

On Wed, Jan 20, 2016 at 10:37 AM, Colin Law <notifications@github.com>
wrote:

[2016-01-20 10:20] colinl commented on #45
Thanks El Matou, that sounds good. I will come across and take a look.

[2016-01-28 03:49] zsyed91 opened #48 "State of project"
What is the state of this project? I haven't seen any commit in the past few months. I think its a great library and would love to see some movement. Especially because there are several pending issues and open PR's that would fix some issues everyone is having.

[2016-01-28 03:53] jwhitehorn commented on #48
It could use a maintainer, as I lack the time to devote to this project at the moment.

[2016-01-28 04:07] zsyed91 commented on #48
Ah I see, completely understand. I am still fairly fresh to this project so I am not sure if I could take on that role. However, I would not mind if no one else wants to do it, and you feel like I can handle it. Some of the more technical stuff on the pi is a bit above me at the moment but I do understand how the pins work.

[2016-01-30 04:23] jwhitehorn commented on #48
Well, you can't do any worse than I have :-)

[2016-01-30 04:23] #48 closed

[2016-01-30 05:10] zsyed91 commented on #48
Haha alright. Suddenly I feel an increase in pressure :P
Hopefully I won’t disappoint. Looking forward to holding down the fort until you free up some time.

[2016-01-30 06:23] elmatou commented on #48
@zsyed91, I'll give you a hand and will make some proposals from my fork : https://github.com/elmatou/pi_piper

[2016-01-30 21:25] zsyed91 commented on #48
@elmatou Awesome. You seem to have good experience with this library. Can you take a peek at my PR for upgrading rspec. If you think its good I can merge. I am going to take a look at the  PR for releasing the pins at exit and merge that in shortly.

[2016-02-06 11:33] elmatou commented on #39
@jwhitehorn, @zsyed91 any hint on how to update the library to the last version (1.49) ?

[2016-02-07 08:16] #39 closed

[2016-02-07 12:19] elmatou commented on #33
EventMachine dependency could be withdrawn.
It is only used for PiPiper#spi_poll which could be done with a simple sleep in a loop. Other Implementations, with EventMachine, Celluloid, Cool.io, Thread, Fiber.... should be done in application code.

[2016-02-08 05:19] zsyed91 commented on #33
I agree with @elmatou. If we can move this into the actual app code then it should reduce complexity of the gem. But anyhow, the current changes going into `1.9.9` which hopefully should be released in the next day or so contains the latest version of `EventMachine`. So this issue should be resolved once that is released. I am going to go ahead and close this.

[2016-02-08 05:19] #33 closed

[2016-02-08 05:21] #24 closed

[2016-02-08 23:19] zsyed91 commented on #45
To all in this thread:

We just released version `1.9.9` that fixes this issue. Pins are released automatically at program exit or can be manually released by `pin.release`.

[2016-02-14 21:02] elmatou opened #54 "Roadmap for PiPiper"
@jwhitehorn, @zsyed91,
I'm willing to bring some enhancement to the library, I just need to know if we are ok with it !

* Better Licence : use standart licence (was a BSD?), add LICENCE file, add licence reference for the bcm2835 lib
* Add support for PWM
* Spec without a stub for Pin,I2C, ...
* Add support for multiple drivers (kernel module, bcm2835 lib, WinringPi, ...)
* Spec the drivers (how

[2016-02-14 22:26] jwhitehorn commented on #54
I'd prefer to stay with a BSD license.

[2016-02-14 22:35] zsyed91 commented on #54
Looks like a good plan to me! @elmatou I will review your PWM pr, sorry I have been busy but will get to it today.

[2016-02-15 07:47] elmatou commented on #54
@jwhitehorn BSD is a very good choice. I'll add a LICENCE file

[2016-02-15 08:11] elmatou commented on #44
As of today PWM develop branch support Hardware PWM in pin 18.
if everything is ok please close the issue

[2016-02-15 08:12] elmatou commented on #30
Should be solved with V1.9.9 update the gem and see.
If everything is ok please close the issue

[2016-02-15 08:14] elmatou commented on #11
As of today PWM develop branch support Hardware PWM in pin 18.
if everything is ok please close the issue

[2016-02-16 06:36] kernelsmith commented on #30
@wrzasa should your code be this?  I'm not trying to be an ass, I'm just trying to make sure I'm thinking correctly:

[code]
I've just started w/this gem and running a very simple example (which may be poorly written, by me) and I'm getting this error (among others) and googling brought me here.  FWIW I am using v1.9.9.9 on a RPi, broadcom obviously, ruby v2.1.5

[2016-02-16 14:54] elmatou commented on #30
@kernelsmith, Still have this issue with 1.9.9 !?
It would b possible if you used gpio outside PiPiper after the last boot.

try to reboot and test.

[2016-02-16 15:48] wrzasa commented on #30
@kernelsmith Yes, you are correct: led in my code should be changed to pin. Just corrected this in my previous comment. Thanks!

[2016-02-18 15:47] kernelsmith commented on #30
@wrzasa I'm still getting the error, haven't looked into it much, but as an example: https://gist.github.com/kernelsmith/c7beb8377e558cdb8f12

This is on a fresh install and having done nothing else to the gpio pins whatsoever

[2016-02-19 16:48] wrzasa commented on #30
@kernelsmith There is something strange about the code you show. I don't know why the first usage of pin 22 ends up with the resource busy error if you didn't use the pin after last reboot. The second error is more strange because it shows incorrect path to `export` file. I don't have Pi running now, but AFAIR instead of: `/sys/class/gpio/gpio/direction` it should be `/sys/class/gpio/direction`. B

[2016-02-20 01:40] zsyed91 commented on #30
@kernelsmith I just took a very quick glance at this.

I found out why `/sys/class/gpio/gpio/direction` is happening. It should be `/sys/class/gpio/gpioPinNumber/direction` but something is not setting PinNumber which is why the path look incorrect.

The other part is when calling `after` or `watch`, a `pin` object is automatically allocated. Did you already open pin 22?

I will look into this a b

[2016-02-20 03:34] zsyed91 commented on #30
@kernelsmith Figured out why we have `gpio/gpio/direction`, you have a typo here: https://gist.github.com/kernelsmith/c7beb8377e558cdb8f12#file-pi_piper_error-L26

It should be `pin: 22` not `in: 22` :smile:

[2016-02-20 07:57] wrzasa commented on #30
That's why people found out data validation... Not funny at all, `Pin` class should validate this in constructor and maybe `watch` should also do it...

[2016-02-20 13:02] kernelsmith commented on #30
Thanks. Apologies, I'm overseas for a few days so I won't have any meaningful responses/feedback for a week or so

On Feb 20, 2016, at 11:34, Zshawn Syed <notifications@github.com> wrote:

@kernelsmith Figured out why we have gpio/gpio/direction, you have a typo here: https://gist.github.com/kernelsmith/c7beb8377e558cdb8f12#file-pi_piper_error-L26

It should be pin: 22 not in: 22

—
Reply to this

[2016-02-21 07:05] zsyed91 commented on #30
Alright I just tried this on my actual pi and was not able to reproduce your error. However I am using ruby `2.2.1`. I know that isn't helpful but I am hoping to at least reproduce this bug somehow.

This is exactly what I tried:

[code]

[code]

[2016-02-21 09:23] elmatou commented on #54
Here are my thoughts for your comments o how could be implemented the multi drivers thing.
[code]

[2016-02-21 18:48] zsyed91 commented on #54
I like the idea of having separate driver gems. I think along these lines we could even do the following:

[code]

Then we can have a basic `Driver` class that we would ducktype under and have the actual drivers implement the public api methods.

[2016-02-21 19:20] zsyed91 commented on #54
@elmatou I have created a placeholder repo under a new organization `PiPiper` for the bcm2835 library. We can start creating a new gem there. And eventually same with the other drivers.

https://github.com/PiPiper/bcm2835

[2016-02-21 19:24] elmatou commented on #54
Funny, it was precisely the structure of my first draft. Then I asked me, why do we need StubDriver ?
The specs in PR #57 are unit tests, the do not need a driver t mock/mimic behaviour, only some thing to receive de methods call. That's why I proposed a Driver object with methods declarations whithout any code in it. Any how, I think we are in the write way.

[2016-02-21 19:30] elmatou commented on #54
the placeholder, nice !

I see, for me to work on :
* pi_piper
* pi_piper-sysfs
* pi_piper-bcm2835
* pi_piper-wiringpi
then will be for contributors
* pi_piper-beagle
* pi_piper-cubie
* pi_piper-banana
* pi_piper-.....

[2016-02-21 19:31] zsyed91 commented on #54
Yeah I think we can use the StubDriver to make sure method calls are sent and received properly instead of actually testing the code itself. If we use a separate gem for each driver (or really even if we don't) we can stub the driver and unit test the code that goes in the driver separately in that repo to unit test the driver.

[2016-02-21 19:32] zsyed91 commented on #54
Yes we can create more placeholders once we get this moving. I am going to go ahead and create a branch off of `develop` that we can push our structure changes to in the meantime. That way we can still continue to release the gem as needed while we do this work in parallel.

[2016-02-21 20:43] zsyed91 commented on #54
Alright, I think we can start pushing any structure changes for this to this branch: `gem_structure_changes`

https://github.com/jwhitehorn/pi_piper/tree/gem_structure_changes

[2016-02-22 18:25] zsyed91 commented on #9
Thank you, we added the license to the gemspec now.

[2016-02-22 18:25] #9 closed

[2016-02-22 18:28] zsyed91 commented on #54
@elmatou I copied over the existing `bcm2835` code here https://github.com/PiPiper/bcm2835/tree/dev
I think we can probably add your tests in the spec directory there, and begin to make improvements. And as for your current PR, can you close it and reopen it to `gem_structure_changes`? That way we can be a little more aggressive in our changes without worrying about affecting near term releases.

[2016-02-22 19:14] elmatou commented on #54
sh.t I was doing it offline... nevermind I'll work on your structure. let's work on gem_structure_changes
 branch (or something badass like, reborn or reboot !!)

[2016-02-22 23:08] bf4 commented on #9
Yay! :rainbow:

[2016-03-02 09:43] YushengLi opened #63 "Trying to connect RC522 through SPI"
I am trying to use `pi_piper` to connect RC522 RFID reader through SPI, but I'm stuck right now, I think it's probably because I have only little knowledge of SPI, is there any tutorials or sample code I can refer to?

[2016-03-02 16:46] zsyed91 commented on #63
@YushengLi I don't have much experience with SPI either but take a look at the following:
- https://github.com/jwhitehorn/pi_piper#spi
- https://github.com/jwhitehorn/pi_piper/blob/develop/examples/mcp3008_spi/mcp3008_spi.rb
- http://jeremyblythe.blogspot.com/2012/09/raspberry-pi-hardware-spi-analog-inputs.html

Hopefully one of those links should help you. There are other examples in the `/exampl

[2016-03-02 16:47] elmatou commented on #63
RC 522 seems to have I2C too. maybe you will have more chance that way.

[2016-03-04 14:43] Damaotimlin opened #64 "ERROR:pi_piper requires RubyGems version >= 2.0.0."
Hi Folks,

I'm facing an error while I do
`sudo gem install pi_piper`

It return an error blow :

I use rvm and below is my ruby -v and gem -v
and do tried 'gem update --system' but still failed.

My ruby and gem is up to date:

I did follow the instruction and install `libssl-dev`

And, I tried to install gem without `sudo`
`gem install pi_piper`
Guess what, it is successfully installed ?!

I was

[2016-03-04 17:09] elmatou commented on #64
rvmsudo should do the trick.

rvm requires you install gems in "user space" meaning no sudo.
but pi_piper works (for now) only with root permission, meaning sudo.

`rvmsudo` or `rbenv sudo` depending on your ruby install allows you to run with root permission gems installed in "user space"

[2016-03-04 17:57] Damaotimlin commented on #64
Hi @elmatou,

Thanks for your reply!

'rvmsudo' it works fine. Gem installed!
`rvmsudo gem install pi_piper`

However, when I run the practice again
`sudo ruby pi-piper-practice.rb`
It still return me

How to check if I installed the pi_piper correctly ?

Thank you again for help me collect the puzzles!

[2016-03-04 18:11] #64 closed, assigned to nobody

[2016-03-04 18:12] Damaotimlin commented on #64
Hi @elmatou,

I just found out two things and problem solved !

One is run
`rmvsudo gem install pi_piper`

and run ruby file by

`rvmsudo ruby ~.rb`

All done, thanks !

[2016-03-04 18:56] elmatou commented on #64
nice. but I don't think you need rvmsudo for installing the gem, only for running script.

[2016-03-04 19:12] elmatou commented on #54
I'm currently trying to implement the external driver concept for PiPiper, but it leads me to put arguments validation in the driver, because every drivers do not accept the same set.
eg : sysfs only support rising, falling, both, as bcm2835 offer async trigger and more

but I'm not very comfortable with it, as it will probably not be backward compatible.... any thoughts ?

[2016-03-04 19:17] zsyed91 commented on #54
I think having driver specific validations are alright. As you said, if sysfs only supports `:rising, :falling, :both` but another driver supports only `:rising` for example then it should throw a validation error. This is the plus side to our gem approach for the drivers since they can all be stand-alone.

I think we don't have to worry about backward compatibility because we can release those ch

[2016-03-05 05:44] Damaotimlin commented on #64
Hi @elmatou

Thanks for your kindly helps!

[2016-03-08 06:18] Damaotimlin opened #67 "Is Pi_Piper able to read DS18B20 heat sensor ?"
Hi Folks,

Pi_piper is great !

I'm wondering is Pi_Piper able to read DS18B20 heat sensor ? If yes, how to do it ?
If not, any recommendation gem or solutions ?
My goal is to push the temperature data to Dashing dashboard.

My code works fine run in terminal.

[code]

Below is I'm trying to read the sensor in Dashingm but it seems not able to fire the **FILE** correctly.

[code]

Please advice, t

[2016-03-08 07:09] elmatou commented on #67
I wrote a gem for one wire devices. it is backed by the kernel driver (/sys/bus/w1/devices stuff)

I need to polish it and publish it. if you can wait until sunday, you could use it.

[2016-03-08 07:32] elmatou commented on #67
take a look at https://github.com/asapp/one_wire
we can discuss on it later.

[2016-03-08 08:58] Damaotimlin commented on #67
Hey @elmatou
Great, thank you! I could wait and just let me know if you need some hand. Actually, I'm not good enough to do you some help, but I can test it after Sunday!

Looking forward to your Gem!!

[2016-03-08 18:49] elmatou commented on #67
You can check it now it should work for thermometer.

[2016-03-13 21:19] arnlen opened #68 "Doesn't work on Raspbian JESSIE?"
I try to use this gem but I don't manage to control any pin.
I have no error message, but nothing happens on my board.

The LED on pin 17 is on, since the boot of the raspberry. But:

[code]

Does anyone succeed to make it work on Raspbian Jessie + Ruby 2?

[code]

[2016-03-14 05:04] zsyed91 commented on #68
Haven't gotten a chance to upgrade to jessie yet so I am not sure. It seems like the changes in jessie mean you don't need sudo access for GPIO anymore. But to be safe, did you try running your script or irb session using `rvmsudo`?

I can take a look but AFAIK `pin.on` and `pin.off` will always return 1 if it was successful. So the "state" is correct here, when you do `pin.off?`. Just to clarify,

[2016-03-14 10:19] elmatou commented on #68
tell us also which version of PiPiper you are using.

[2016-03-14 13:04] arnlen commented on #68
Here is what I notice:
- connected to 3.3V pins (pin #1 or #17), the LED if on when the board is powered on.
- connected to another pin (GPIO 17 on pin #11), the LED is off on startup.

Then:

[code]

I'm using `pi_piper (2.0.0)`

[2016-03-14 13:07] arnlen commented on #68
If I try to use pi_piper without `sudo`:

[code]

[2016-03-14 13:28] arnlen commented on #68
It works!
My bad, I was misunderstanding the pin number: I though the pin number was the number in the order of the GPIO (from 1 to 40), but in fact I understand there is no relation between the position of the pin, and its number.

The GPIO 17 pin is on the place 11, but it's still called "17".

Conclusion:
- still works on Jessie
- still requires `sudo`

Thanks for your help! :)

[2016-03-14 13:28] #68 closed, assigned to nobody

[2016-03-14 15:46] zsyed91 commented on #68
Ah yes, I was thinking that might be it. I will update the documentation to make this clearer. I noticed that others have had that same misunderstanding. I am glad that it works for you though!

[2016-03-15 15:22] #67 closed, assigned to nobody

[2016-03-15 15:28] Damaotimlin opened #69 "Is Pi_Piper ready for RPi 3 ?"
I'm thinking to get a new RPi 3 because inboard wifi, but it is upgrade to bcm2387. I'm wondering is Pi_Piper can be use in Pi 3 ?

[2016-03-15 15:32] zsyed91 commented on #69
Haven't been able to get one yet to test one, completely sold out everywhere by me :smile:
However, it should work. The only thing you would need to do possibly, is to keep an eye out here: http://www.airspayce.com/mikem/bcm2835/ and if a new version gets released, just swap out the `.so` file. We are currently working on separating out the drivers from the gem itself to accommodate these kinds of

[2016-03-15 15:51] Damaotimlin commented on #69
I'll try after I get a new Pi 3 !

[2016-03-16 11:42] elmatou commented on #69
the sysfs driver will work without problem, the bcm2835 driver will need some library update as @zsyed91 mentioned.

[2016-03-16 17:54] jjuris opened #70 "Pin.on?/.off? notworking ?"
Hello maybe I am missing something but it seems like Pin.on? and Pin.off? methods are not working.
I am playing around with ruby and Rpi and I made following code:
Its just a simple program when I input 11 led is glowing and when i insert 1 led should go off. I would like to make it more "intelligent" like this: when I input 1 led switches its state. I was thinking about this code
pin.off? ? pin.o

[2016-03-16 18:28] #70 closed, assigned to nobody

[2016-03-28 06:39] duleorlovic opened #71 "Seg fault"
Hi, thanks for nice ruby tools for RPi, I have built some home security [securyPi](https://github.com/duleorlovic/securiPi)
It works fine, but some time (probably once in couple of days) I receive segmentation fault.
What do you think where should I start looking ?
Maybe the problem is low memory (512MB) and I use big gems like: aws-sdk and mail.

[code]

[2016-03-29 07:13] elmatou commented on #71
Hi @duleorlovic,
Did the crash occurs everytime when changing the value of `pwm_data` ? If so, It would be useful to know if the memory was full when it crash, or if you had another program using gpio/pwm/sound card.

Do not forget the pwm channel in bcm2835 use the same signal generator as the sound (PCM) output. using PWM along with PCM will result un crash or other strange things.

[2016-03-29 07:20] elmatou commented on #54
Ok, and know ?
- I let you move the drivers code to `Driver` class in specific module.
- I'll continue to test I2C and SPI with actual chips I ordered from adafruit.
- We need some new readme & wiki, I'll work on it.
- Do we want to have a suite of integration tests ?
  it is pretty heavy to maintain, but as we are now, we do not assert PiPiper works
- what else to release version 3.0 ?

[2016-03-29 19:55] zsyed91 commented on #54
Cool. I should have the modules done shortly so we can test everything once I push those. I also have some chips like a motion detector and various led's that I can test with as well.

Readme definitely needs updating and wiki as well. I would like to flush out the examples even more. The more code samples we can give, I think could be helpful to people.

Integration tests would be pretty cool if

[2016-04-03 20:19] elmatou commented on #54
I just wrote some README for the gems. You can found them as gists here.
https://gist.github.com/elmatou/a4ce34818f887653a2252a358d9fb6c8
https://gist.github.com/elmatou/ae583d4589fbdeb4642ff370d9fc4efe
https://gist.github.com/elmatou/a3c9acbcea8456db56f0562da8bf2a1d

I can PR them or you do it with your next update.

[2016-04-03 22:54] zsyed91 commented on #54
Cool, thanks for doing this. I will review your gists and then you can open them as PR's.
In the meantime, can you take a peak at https://github.com/PiPiper/sysfs/pull/4 before I merge it?

[2016-04-09 06:52] watsy0007 commented on #30
thanks @joshkinabrew

[2016-04-20 21:29] ghost opened #73 "Gem Version 2.0?"
## Help

I have been trying to install this gem on ruby 1.9.3 but it says that the gem is for ruby gem version 2.0.

Does anyone have any idea on how to fix this?

**## Thank You**

[2016-04-20 21:32] zsyed91 commented on #73
Can you give a dump of the error? I suspect you need to upgrade your `gem`. Try the first answer here: [how-to-upgrade-rubygems](http://stackoverflow.com/questions/13626143/how-to-upgrade-rubygems)

Alternatively try

[code]

[2016-04-28 06:45] cbrewer97 opened #75 "Output pin turns back on after exit"
I was testing out the functionalities of the library with some LEDs and I noticed that even if it is explicitly turned off, when the program exits, the pin turns back on at a slightly lower power.

[2016-04-28 18:38] cbrewer97 commented on #75
As it turns out, this happens even when the Pi is turned off (and is still plugged in to a power source). It also happens regardless of which library I use (I also tested Python's RPi.GPIO). It appears to have something to do with the Pi itself. My apologies.

[2016-04-30 17:39] elmatou commented on #75
Without any pull up or down, the value of the pull can't be asserted, it is pretty common, and every circuit should have a pull-up or sink resistor on the GPIO.

[2016-05-01 17:14] ghost opened #76 "Resource Not Available"
I did this:
'sudo ruby doorcount.rb`
and this came out:

/usr/lib/ruby/gems/1.9.1/gems/pi_piper-2.0.0/lib/pi_piper/bcm2835.rb:65:in `write': Device or resource busy - /sys/class/gpio/export (Errno::EBUSY)
        from /usr/lib/ruby/gems/1.9.1/gems/pi_piper-2.0.0/lib/pi_piper/bcm2835.rb:65:in`export'
        from /usr/lib/ruby/gems/1.9.1/gems/pi_piper-2.0.0/lib/pi_piper/bcm2835.rb:34:in `pin_input'

[2016-05-24 03:23] zsyed91 commented on #76
Hey I don't believe `sudo ruby xxx.rb` works the way you think it does. I suggest trying out `rvmsudo` instead. That should prevent the stacktrace from happening.

[https://rvm.io/integration/sudo](https://rvm.io/integration/sudo)

[2016-05-24 12:14] ghost commented on #76
Thank you

[2016-06-03 13:46] avinash386 commented on #45
pin.release is not working in 2.0.0 , can you suggest a work around .

[2016-06-03 15:19] zsyed91 commented on #45
Can we get more info? Stacktrace and your code would help. But for starters are you running rvmsudo?

[2016-06-03 16:07] avinash386 commented on #45
Yes , I am running the code as super user. I am trying to invoke a switch and try switching on a led.

So as per your example code , when I use Pipiper.wait it runs a loop. On my 1st loop the led pin is getting high, on my second loop it's giving me an error as the GPIO pins are not unexported.

I wish to light up the led every time it detects switching between states of the switch.

[2016-06-03 16:26] zsyed91 commented on #45
Ok just to make sure,

`sudo ruby script.rb` is not the same as `rvmsudo ruby script.rb`. Running just `sudo` does not pass the permission level to the script. See the [rvmsudo documentation](https://rvm.io/integration/sudo).

Regarding the sample code, if you could just paste your actual code here that would help more. I cannot assume what your loop looks like.

[2016-06-04 06:10] avinash386 commented on #45
require 'pi_piper'
include PiPiper

red     = PiPiper::Pin.new(:pin => 15, :direction => :out)
green   = PiPiper::Pin.new(:pin => 18, :direction => :out)

after :pin => 14, :goes => :low do
        red.on
        green.on
        sleep 1
        red.off
        green.off
        sleep 1
end

PiPiper.wait

Please find my program above. I wish to come out of the program after certain number of butto

[2016-06-13 19:01] ghost opened #77 "Yet Another Problem"
After doing Sudo ruby xxxx.rb
/usr/uibl ruibylgews/1.9.1/ (Errno: :EBUSY) e Device or resource busy /sys/class/gpio/export r from piper-2.0.0/u b:65:in export from /usr/lib/ piper-2.e.e/uib/pi piper/bca283 b:34:in pin input. piper.2.0.0/uib/pi piper/pin.rb: sin initialize from /usr/lib/ruby/gems/1.9.1/gems/pi piper 2.0.0/uib/pi piper.rb115:in from /usr/lib/ruby/gems/1.9.1/gems/pi piper-2,0.0/uib/p

[2016-06-15 18:21] zsyed91 commented on #77
instead of `sudo ruby xxx.rb` please run `rvmsudo ruby xxx.rb`.

Check out [https://rvm.io/integration/sudo](https://rvm.io/integration/sudo) for a detailed explanation. `sudo` does not pass the session to the script which is why `rvmsudo` is needed. Please try that and let me know if it works for you.

[2016-06-15 18:28] zsyed91 commented on #45
Did you try running `rvmsudo ruby your_script.rb`? I don't see anything obvious in the code.

[2016-06-17 19:11] ghost commented on #77
I don't know how to use RvmSudo

[2016-06-20 07:22] zsyed91 commented on #77
Well, its pretty simple:
1. [Install rvm](https://rvm.io/rvm/install)
2. Install a ruby via `rvm install 2.1.0` or if you want latest, `rvm install 2.3.0`.
3. Run `rvmsudo ruby xxx.rb`

Let me know if your script works after doing the above. It is crucial to run the script via `rvmsudo`.

[2016-06-20 07:23] #73 closed, assigned to nobody

[2016-06-20 07:23] #76 closed, assigned to nobody

[2016-06-23 00:47] ghost commented on #77
That is simpler than I expected but do I have to reinstall ruby? I have it installed already and it took me forever to re update everything.

[2016-06-25 08:23] zsyed91 commented on #77
I don't believe so, if you wanted to use the system ruby or whichever you have installed already. In that case, simply try running step 1 and step 3.

[2016-07-08 22:55] celsian commented on #30
I can't get my pins to activate or deactivate properly with:

[code]
In addition, I am getting the

errors as well.

Using @wrzasa's code to release the pins allows me to re-access the pin in question, but I'm still unable to actuate it.

I did not have this problem in 1.3.2, I'm going to stick with that version until this gets resolved.

[2016-07-26 19:07] jvalrog opened #78 "Sorry if it's a noob question..."
but, why can't I see the `bcm2835.rb` file here on github?

[2016-07-27 01:55] zsyed91 commented on #78
So we are in the process of rewriting the library a bit. Its actually basically ready for release. I just want to test it a bit more to make sure the release goes smoothly since it breaks backwards compatibility.

You're most likely looking at the `development` branch. If you change the branch to `master` you'll see the currently released code.

[2016-07-27 01:55] zsyed91 commented on #77
@riolibrary Did you get your project working?

[2016-07-30 17:52] ghost commented on #77
No :disappointed:
@zsyed91 I tried to run:
`rvmsudo ruby xxx.rb`

##  and it gave the same error except with something about a secure path

Please help, I have been with this project for a couple months now and would like to finish it

[2016-07-31 13:02] jvalrog opened #79 "Can't read correct values from a rpi B 1"
I'm using pin 4 (gpio 4) with this simple code:

[code]

I use a jumper and connect it to gpio4 and 3.3V (top-left).

It always shows a 0. If I change the jumper to GND (bottom-left), I also get a 0.

Reading the values from /sys/..., it shows correctly a 1 or 0, but the pi_piper script will always show a 0.

What's wrong? (I'm using pi_piper 2.0)

See the attached screenshot
![2016-07-31-140056_1

[2016-07-31 15:36] elmatou commented on #79
just update the value in memory with `pin.read`.
I'm not a huge fan of this implementation, but we don't want to change it for compatibility sake.

[2016-07-31 16:28] jvalrog commented on #79
mmm I see now, it's cached.

Do you think something may break if you alias `value`and `read`???

Who needs it to be cached? Why would you want to read an "old" cached value that may be incorrect?

[2016-07-31 16:59] elmatou commented on #79
Yep, `value` is used against `last_value` to 'detect' changes.
If this behavior really annoy you, you could monkey patch `PiPiper::Pin` with

[code]

[2016-07-31 17:08] elmatou commented on #77
from the few line you posted I can understand that you run with a linux permission issue, which is not specific to PiPiper.

Rasbian requires that gpio are accessed by an user with root privileges (which is not really true with jessy based raspian, but for clarity we will stick to that assomption)

@riolibrary, could you copy/paste an extensive backtrace showing your bug.
Also we need to know whic

[2016-07-31 18:57] jvalrog commented on #79
Ah, now I understand why they chose this implementation. It's a bit inconsistent, as you said, because it's not clear what method should be used for getting an updated value without looking into the source code.

I think I have a solution to "fix" (let's call it that way) this inconsistency:

[code]

I think nothing breaks with that change, and the alias is there for backward compatibility. `@valu

[2016-09-02 12:13] Damaotimlin commented on #69
Sorry for the late update. I tried and it works prefect on Pi 3. So, I'm closed this issue! P.S. I use bcm2835 library.

[2016-09-02 12:13] #69 closed, assigned to nobody

[2016-09-26 20:28] maraaaa commented on #77
@riolibrary did you ever get this issue resolved?  If so, what was the fix?

If not can we try a few things?
- execute a `sudo -i` which will drop you to a root shell, then as root, execute your `ruby xxxx.rb` command.
- execute `sudo -E ruby xxxx.rb`, the `-E` flag tells sudo to "preserve environment".  As @zsyed91 points out, it's likely an environment issue.  Since you're not using RVM to manag

[2016-09-26 20:32] maraaaa commented on #78
@zsyed91 how's the testing going?  Anything I can do to help?

Would you recommend using the `development` branch at this time?

Thanks!

[2016-09-26 21:40] maraaaa opened #80 "One-wire monitoring with PiPiper"
Hello,

I am new to the Raspberry Pi and have been looking to expand my Ruby expertise beyond Sinatra apps and Chef code.

PiPiper seems to be the most mature (and only still active) Ruby library, so it seems like the natural jumping off point.

Looking at the documentation and the code, it doesn't look like there's a One-wire bus interface.  Can you confirm this?  Am I just looking in the wrong p

[2016-09-27 07:56] elmatou commented on #78
I don't think you should use it for now. The rewrite is based on a plugin gem approach for the drivers.
And the drivers where not yet reviewed by @zsyed91 and released.
https://github.com/PiPiper/bcm2835
https://github.com/PiPiper/sysfs

Each of the drivers use a specific way to handle the gpio (file based access, or the C++ library that access /dev/mem). Sadly this work is stalled for several mon

[2016-09-27 08:01] zsyed91 commented on #78
Apologies, I've been working on it on the side. I think we're ready for a
release. I'll try and get this out by the weekend. I haven't forgotten
about this :)

I think our approach will work perfectly in this scenario once we release.
Nice to hear from you!

On Sep 27, 2016 12:56 AM, "Marco" notifications@github.com wrote:

[2016-09-27 08:01] elmatou commented on #80
PiPiper rewrite would be able to handle 1-Wire devices.
for now I wrote : https://github.com/asapp/one_wire which do a good enough job.

[2016-09-27 08:02] elmatou commented on #78
@zsyed91 good to hear from you too. Ask me for anything when you'll be on it..

[2016-09-27 08:03] zsyed91 commented on #80
Yup I think this validates our rewrite effort! As mentioned in the other
issue, I'm going to get this pushed along. Hoping to release this weekend.
I think the changes are pretty stable.

On Sep 27, 2016 1:01 AM, "Marco" notifications@github.com wrote:

[2016-09-27 08:05] zsyed91 commented on #78
Sure will do. I'll ping you tomorrow morning, it's very late here :)

In the mean time, did you do any real world testing with the new changes? I
tested it with a couple sensors and it seems pretty stable.

On Sep 27, 2016 1:02 AM, "Marco" notifications@github.com wrote:

[2016-09-27 10:08] elmatou commented on #78
yes, Pin works fine for me with sysfs, but won't trigger smoothly with bcm2835 C++ lib.
I have to double check SPI and I2C

[2016-09-27 10:19] elmatou commented on #78
we really should have a policy about integration testing...

[2016-10-18 05:36] maraaaa opened #81 "Why is lib/pi_piper/driver.rb empty method definitions?"
Hello,

I'm trying to understand how this code works, and I see in `lib/pi_piper/pin.rb` you call `PiPiper.driver.pin_write`  - https://github.com/jwhitehorn/pi_piper/blob/develop/lib/pi_piper/pin.rb#L61

In `lib/pi_piper.rb` you seem to initialize `PiPiper.driver` as an instance of `PiPiper::Driver`  https://github.com/jwhitehorn/pi_piper/blob/develop/lib/pi_piper.rb#L19-L32

What I don't underst

[2016-10-18 05:52] zsyed91 commented on #81
Hi, we are about to release `3.0` where we pulled out the driver so it can be driver-agnostic.

We will default the driver to the `sysfs` driver but currently we have 2 implementations ready.
1. https://github.com/PiPiper/sysfs/blob/master/lib/pi_piper/sysfs/sysfs.rb
2. https://github.com/PiPiper/bcm2835/blob/dev/lib/bcm2835/driver.rb

We have empty method definitions because we wanted to have an

[2016-10-18 06:04] zsyed91 commented on #78
Regarding integration testing, I absolutely agree. There must be a better way than physically hooking everything up 😄 . I think let's do this release and then think of some possible ways we can get integration testing without needing physical hardware. It will probably require a lot of effort but if at all possible will make things way more robust.

[2016-10-18 06:05] #75 closed, assigned to nobody

[2016-10-18 06:07] zsyed91 commented on #63
Hi @YushengLi did you get your project working via SPI?

[2016-10-18 06:11] zsyed91 commented on #79
While I agree that it may be a bit inconsistent. We have this method already `read`.

This is the new code via the rewrite for `3.0`:
https://github.com/jwhitehorn/pi_piper/blob/develop/lib/pi_piper/pin.rb#L97.

And this is the original implementation currently in release:
https://github.com/jwhitehorn/pi_piper/blob/master/lib/pi_piper/pin.rb#L150

We can certainly update the docs to make this mor

[2016-10-18 06:21] zsyed91 commented on #43
Here is a good blogpost to anyone else who stumbles upon this issue: http://www.eriktrautman.com/posts/ruby-explained-blocks-procs-and-lambdas-aka-closures

[2016-10-18 06:21] #43 closed

[2016-10-18 10:29] YushengLi commented on #63
My friend dig into MFRC522's spec and eventually build a Gem for reading signal from MFRC522 using pi_piper with SPI interface.

Since I am not familiar with SPI connection, if you're interested in how he did it, you can take a look at his repo [atitan/MFRC522_Ruby](https://github.com/atitan/MFRC522_Ruby) or check on [Rubygems.org page](https://rubygems.org/gems/mfrc522).

[2016-11-10 16:47] dsshap opened #82 "OpenWRT?"
Would this work for openWRT?

[2016-12-13 13:29] elmatou commented on #82
it could, if you try, tell us.
If openwrt is compiled with the gpio kernel, this could work easily.

[2017-04-09 00:22] ttsumibishi opened #84 "tegv"

[2017-05-12 23:09] ElMagic1980 opened #86 "Behavior of after/watch not as expected"
Hello,

i am trying to fetch a simple pressed button but doesn't work as expected.

I am using pi_piper 2.2.2.

I tried the following:

`
after :pin => 21, :goes => :high do
  puts "Button pressed"
end
`
The result was that it was prompted "Button pressed" the whole time  until i pressed the button. when releasing the button it started prompting again.

The same happend when i tried :goes => :low

[2017-07-31 04:09] nPn- opened #88 "Example of i2c"
The documentation is lacking on how to use i2c.  Does anyone have any examples?

[2017-09-05 21:26] thib44 commented on #86
Hello,
I had the same issue, and that's work for me :
[code]
But when i press the button, it give me 2 times `Pin was pressed`

[2018-07-28 18:40] twoesplease opened #90 "Issue with ffi gem dependency"
Lately in my projects that use pi_piper, I'm getting the following in my stack trace when the code tries to initialize a new pin object:

[code]
"light_it_up" is the method name I'm using to manage the logic for turning the pin on & off.  "pin" is the variable I'm using to hold the pin object.

Looks like there may be an issue with the ffi library?

I didn't see any similar issues to this one, and

[2018-08-01 13:20] nofxx opened #91 "RPi 3+ 64bits"
Looks like there's GPIO support now on 64bits bcm2835, albeit I could not find any lib examples/docs so far (wiringpi or other libs).

BCM2835.so compiles fine in AARCH64 and looks like low level GPIO works.
After recompiling the static in piper's folder I ended up in:

[code]
Sorry can't be of much help now, dunno much about the low level stuff here.

[2018-08-01 13:22] nofxx commented on #19
2.0.0 is out, issue may be closed...

[2018-08-03 19:29] NetForces commented on #91
Getting the same:

[code]

Very simple test code (one of the examples):

[code]

[2018-09-11 21:50] hugueslamy opened #92 "Race condition on non root user when PiPiper::Pin.new"
Working on a Raspberry Pi 2 on Raspian Stretch, I end up with a weird error.
`Errno::EACCES: Permission denied @ rb_sysopen - /sys/class/gpio/gpio16/direction`

My setup worked couple of time the day before but not anymore. I dig many whatever.overflow to find some help.

My understanding so far. When you write to the export file, a small directory of file is created automatically. I don't know th

[2018-11-07 13:02] xetum opened #93 "pi_piper with gtk aborts ruby interpreter (RPi Raspbian Stretch)"
program:

    require 'gtk3'
    require 'pi_piper'

    win = Gtk::Window.new
    win.window_position = :center
    win.border_width = 5

    win.signal_connect("destroy") { Gtk.main_quit }

    pin = PiPiper::Pin.new(pin: 24, direction: :out)

    win.show_all
    Gtk.main

aborts with:

    /var/lib/gems/2.3.0/gems/pi_piper-2.0.0/lib/pi_piper/platform.rb:11: [BUG] Segmentation fault at 0xe92d00

[2018-11-09 13:14] xetum commented on #93
[NOTE: this issue has been solved, pleaselook at the end]

ok, I was doing some testing...
Program is three lines:

    require 'gtk3'
    require 'pi_piper/bcm2835'
    PiPiper::Bcm2835.init

program versions:

ruby 2.3.3p222 (2016-11-21) [arm-linux-gnueabihf]
gtk3-3.3.0 gem
pi_piper-2.0.0 gem (with libbcm2835 1.49 library, see https://github.com/zsyed91/pi_piper)

hardware:

RPi 3B+ Raspbian Str

[2019-06-01 23:36] mrambossek commented on #81
hello good people. any updates on this?

[2019-06-03 18:31] elmatou commented on #81
The gel is on hold/abandoned, by the maintainers. Everything should be easy to get working.
I plan to spin out the code and start a new project based on release 3.0 but I lack time for now.
If you are willing to work on this, I may be able to help you.

[2019-06-05 16:43] elmatou commented on #92
Thank you for the tip (9 months later) you saved my day !!

I'm going to adress this issue my PiPiper spin off : https://github.com/elmatou/rpio

[2020-12-20 03:38] ciembor opened #94 "Examples with tests"
Hello.

I would like to use this gem in my project, but I didn't find any information about how could I develop and test it on a machine that is not Raspberry Pi (my laptop). I mean I would like to use Rspec or Minitest, stub some events on specific pins and observe these pins in my tests to check what happened.

I will probably find a way to achieve this, but it would be much easier with some exa